<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <!-- Add this element -->
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>

  <!-- Add this element -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
      <property name="connection.connection_string">
        Server=localhost;Database=test;UId=YanuqPS;Pwd=kiara523
      </property>
      <property name="dialect">NHibernate.Dialect.MySQLDialect</property>

      <mapping assembly="testHibernate" />
    </session-factory>
  </hibernate-configuration>


  <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
